---
title: Matijević Apartments - Contact
---

<div id="container">
  <div id="hcard-Ante-Jakić" class="vcard">
    <div>Contact person: <a class="url fn" href="http://villatucepi.com">Ante Jakić</a>, <span class="org">Matijević Apartments</span></div>
    <div>Email: <a class="email" href="mailto:ante.jakic7@st.t-com.hr">ante.jakic7@st.t-com.hr</a></div>
    <div class="adr">
      Adress:
      <span class="street-address">Kraj 21</span>, <span class="postal-code">21325</span> <span class="locality">Tučepi</span>, <span class="country-name">Hrvatska</span>
    </div>
    Telephone: <span class="tel">+385 21 623 478</span>
    <br />
    Mobile: <span class="mobile">+385 98 1811584</span>
    <!-- <div><span class="category">apartments</span>, <span class="category">holiday</span>, <span class="category">croatia</span></div> -->
  </div>
</div>

<p>The arrival is after 12:00 PM and the departure is till 10:00 AM. </p>

