---
title: Matijević Apartments - Kontakt
---

<div id="container">
  <div id="hcard-Ante-Jakić" class="vcard">
    <div>Kontakt osoba: <a class="url fn" href="http://villatucepi.com">Ante Jakić</a>, <span class="org">Matijević Apartments</span></div>
    <div>Email: <a class="email" href="mailto:ante.jakic7@st.t-com.hr">ante.jakic7@st.t-com.hr</a></div>
    <div class="adr">
      Adresa:
      <span class="street-address">Kraj 21</span>, <span class="postal-code">21325</span> <span class="locality">TUČEPI</span>, <span class="country-name">HRVATSKA</span>
    </div>
    Telefon: <span class="tel">+385 21 623 478</span>
    <br />
    Mobitel: <span class="mobile">+385 98 1811584</span>
    <!-- <div><span class="category">apartments</span>, <span class="category">holiday</span>, <span class="category">croatia</span></div> -->
  </div>
</div>

<p>Vrijeme dolaska je nakon 12:00, odlazak je do 10:00.</p>
